@charset "UTF-8";


:root{
    --cor0:#8FC1B5;
    --cor1:#03A64A;
    --cor2:#063D1E;
    --cor3:#269056;
    --cor4:#025940;
    --cor5:#265C4B;
    --cor6:#83E1AD;
}

header {
    background-image: linear-gradient(to bottom, #269056, #063D1E);
    height: 300px;
    text-align: center;
    color: white;
    margin: -35px -10px 0px -10px;
    font-size: 3em;
}
header > p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 5px black;
}

header>h1 {
    padding: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800px;
    font-style: normal;
    font-size: 50px;
    font-style: none;
    text-shadow: 2px 2px 5px black;
    max-width: 500px;
    margin: auto;
   
    
}

header>h1 {
    color: white;
}

nav>a {
    text-decoration: none;
    color: #03A64A;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: none;
    width: 10px;
}

main {
    background-color: white;
    margin: 2px 90px 0px 90px;
    text-align: justify;
    padding: 30px;
    min-width: 300px;
    max-width: 1000px;
}

body {
    background-color: #8FC1B5;
}

h1 {
    color: #025940;
    font-family: 'idroid';
}


body>section {
    background-color: #8FC1B5;
    border-radius: 5px;
    min-width: 600px;
    max-width: 1000px;
}

footer {
    background-color: #265C4B;
    margin: auto;
    text-align: center;
    color: white;
}



main>section {
    background-color: #83E1AD;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 9px 14px 0px;
    ;
}
div.video{
    background-color: #063D1E;
    margin-bottom: 30px;
    margin: 0px -20 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90% ;
    height: 90%;
}

h2#h2 {
    background-color: #265C4B;
    border-radius: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
    margin: -10 -10 0 -10;
}
main > p{
    font-family: Arial, Helvetica, sans-serif;
}
main > h1
{
    background-image: linear-gradient(to right,#95E5B9 , transparent);
}
nav{
    padding: 10px 0px 10px 20px;
    background-color:#063D1E;
    margin: -35px -10px 0px -10px;
    box-shadow: 2px 2px 5px 5px #063d1e57;
}
nav > a:hover{
    background-color:#03A64A;
    border-radius: 5px;
    color: #063D1E;
    padding: 10px;
    transition-duration: .5s;
}
section > ul{
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
p{
 text-indent: 30px;
 line-height: 2em;
}
 main strong{
    color: #03A64A;
    font-weight:bold ;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: #063D1E;
    background-color: #6add9c;
}
main a:hover{
    text-decoration: underline;
}