@charset "UTF-8";

/*todas as demais midias*/

/*Typical DEvice BReak points
Pequenas telas: ate 600px
Celular: de 600px ate 768
Tablet: &68 ate 992px
DEstop: 992px ate 1200px
Grandes telas: acima de 1200px
*/
@media print {
    
}
@media screen and (min-width:481px) and (max-width:768px){ /*TABLET*/
    body{
        background: url(../imagens/tab.jpg);
        background-position: center center;
        background-size: cover;
        img#phone{display: none;}
        img#tab{display: block;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
    }
}
@media screen and (min-width:992px) and (max-width:1024px){/*DESKTOP*/
    body{
        background: url(../imagens/pc.jpg);
        background-position: center center;
        background-size: cover;
        img#phone{display: none;}
        img#tab{display: none;}
        img#print{display: none;}
        img#pc{display: block;}
        img#tv{display: none;}
    }
    }
@media screen and (min-width:1200px){
    body{
        background: url(../imagens/pc.jpg);
        background-position: center center;
        background-size: cover;
        img#phone{display: none;}
        img#tab{display: none;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: block;}
    }
    }
}